body {
    font-family: 'AvenirNext-Regular',sans-serif;
    margin: 0;
}

/*  =============  GENERAL  ==============  */
header {
  background: white;
  box-shadow: 0px 0px 15px #00000042;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  z-index: 1;
  position: absolute;
  width: 100%;
}

.home_btn {
  position: absolute;
  right: 40px;
  top: 96px;
}

.home_btn img {
  width: 60px;
}

.payments_main {
    /*overflow: hidden;*/
    /*height: 1105px;*/
}

.payments_index {
  overflow: hidden;
  height: 100%;
  width: 1080px;
}

.service_index {
  overflow: hidden;
  height: 1500px;
}

.choice {
  transition: scale .5s;
}

.home  {
  top: 220px;
  background-image: url('../assets/img/home_hero.jpg');
  background-position: -450px 0px;
  background-size: cover;
  /*background-position: bottom center;*/
  height: 1700px;
  display: block;
  position: relative;
  background-color: #007bc44f;
  background-blend-mode: multiply;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06213a40;
}

.overlay a {
  text-decoration: none;
}

.choices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  transition: padding .5s;
  position: relative;
  top: -252px;
}

.choice {
/*  background-color: #ffffffd6;
  height: 400px;
  width: 400px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;*/
  /*background-color: #ffffffd6;*/
  height: 92px;
  width: 950px;
  margin: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding-left: 59px;
  /*-webkit-animation: bounce 6s infinite ease-in-out;*/
}

.choices .choice:nth-child(1) {
  -webkit-animation: bounce 6s infinite ease-in-out;
}

.choices .choice:nth-child(2) {
  -webkit-animation: bounce_two 6s infinite ease-in-out;
}

.choices .choice:nth-child(3) {
  -webkit-animation: bounce_three 6s infinite ease-in-out;
}


@-webkit-keyframes bounce {
  30%, 50%  { -webkit-transform: translateY(0); }
    
  40% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_two {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}

@-webkit-keyframes bounce_three {
  50%, 70%  { -webkit-transform: translateY(0); }
    
  60% { -webkit-transform: translateY(-10px); }
}



.choice h2 {
  font-size: 45px;
  color: white;
  text-decoration: none;
  text-align: center;
  /*margin-bottom: 42px;*/
}

.choice h2 span {
  font-weight: lighter;
  padding-left: 13px;
  font-size: 60px;
  transition: padding-left 1s;
}

.choice img {
  /*max-width: 140px;*/
  display: none;
  height: 90px;
  opacity: .3;
  margin-right: 50px;
}

.camera {
  display: none;
  transition: background-color 2s;
}




/* ===============   camera actions   ===================*/

.button {
  background-color: #017bc6;
  padding: 45px 50px;
  margin-bottom: 77px;
  font-size: 35px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  outline: none;
  border: none;
  text-align: center;
}

.reverse {
  background: white;
  color: #017bc6;
}

.camera_button {
  display: none;
  position: absolute;
  top: 255px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 55%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
}

.flash {
  display: none;
  background: yellow;
  height: 1690px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.pic_text, .gif_text {
  display: none;
  position: absolute;
  top: 158px;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #717472;
  color: white;
  font-size: 40px;
}

.camera img {
  padding: 45px 50px;
  height: 112px;
}

.camera {
  justify-content: center;
  display: none;
  height: 1690px;
}

#video {
  display: none;
  position: relative;
  top: 170px;
  height: 1500px;
}

#pictures {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 33, 58, .8);
}

.gif_info {
  display: none;
  color: #44a8f2;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  bottom: 135px;
  font-weight: bold;
  font-size: 47px;
}

.next {
  display: none;
  width: 241px;
  background-color: #44a8f2;
  color: white ;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}

form {
  margin-top: 107px;
}

input.input, select {
  display: inline-block;
  width: 83%;
  padding: 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: border .5s;
}

select {
  width: 96%;
}

select option {
    color: rgba(68, 168, 242, 1);
}

input.input::placeholder {
  color: rgba(255, 255, 255, 0.62);
  font-weight: lighter;
}

input.input:focus {
  border: 4px solid white;
}

.share_overlay {
  display: none;
  background-color: rgb(0, 85, 165);
  height: 1700px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.share_overlay input.input {
  display: block;
}

#share_alert, #donation_alert {
  background-color: white;
  display: none;
  position: absolute;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 7;
}

#share_alert h3, #donation_alert h3 {
    font-size: 85px;
    color: #0055a5;
    font-weight: bold;
    margin-bottom: 10px;
}

#share_alert p, #donation_alert p {
    color: #0055a5;
    font-size: 37px;
  
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}

.submit {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.canvas_holder {
    display: inline-block;
    text-align: center;
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
}

.gif_container {
  padding: 50px;
  width: 980px;
}

.gif_container .canvas_holder {
  width: 400px;
  margin: 66px 45px;
}

.gif_container .canvas_holder img {
  width: 400px;
}

.gif {
  transition: outline 1s;

}

.photo {
  width: 100%;
  height: 1690px;
  top: 0;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/*.photo img, .gif_show img {
  width: 75%;
}*/

.gif_show img {
  height: 620px
}

/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/
.submit {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  height: 43px;
  top: 160px;
}

.like {
  display: none;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39%;
  background: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1690px;
  width: 100%;
  position: absolute;
  top: 230px;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
  position: absolute;
  top: 50%;
  transform: translateY(-60%); 
  width: 100%;
}

#pictures {
  display: none;
}

.event_pics .button {
  display: none;
}



/* ================   IFRAMEs    ======================*/
iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -262px;
  z-index: 0;
  /*height: 2011px;*/
}

iframe.specials {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 449px;
  z-index: 0;
  height: 2070px;
  transform: scale(1.3);
  left: 105px;
}

iframe.services {
  top: 58px;
  overflow: hidden;
}

iframe.contact {
  top: 202px;
  left: -543px;
  transform: scale(2);
  height: 1141px;
}

iframe.payments {
/*  top:560px;
  overflow: auto;
  width: 69%;
  transform: scale(1.45);
  left: 163px;*/
  top: 1224px;
  overflow: auto;
  width: 69%;
  transform: scale(1.45);
  left: 163px;
  height: 4921px;
}

.contact_form {
    background-image: url('../assets/img/contact_hero.jpg');
}

#donation_alert {
  background-color: #017cc4;
  display: none;
  position: absolute;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 7;
}

#donation_alert h3 {
  font-size: 80px;
  color: white;
}

#donation_alert p {
  font-size: 41px;
  margin-top: -30px;
  color: white;
}

#contact_form {
  margin-top: -550px;
}

.contact_form input, .contact_form textarea {
    width: 75%;
    display: block;
    padding: 40px 40px;
    font-size: 31px;
    margin: auto;
    margin-bottom: 25px;
    outline: none;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 4px solid white;
    height: 50px;
    padding-bottom: 15px;
    transition: width .5s, font-size .5s;
    font-size: 40px;
    max-width: 1000px;
}

.contact_form input:hover, .contact_form textarea:hover {
  width: 100%;
}

.contact_form input::-webkit-input-placeholder, .contact_form textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff66;
  font-size: 32px;
}


.contact_form .button {
  width: 83%;
  background: #017cc4;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 40px;
  height: auto;
  border-bottom: 0;
  padding-bottom: 40px;
}

.contact_form form {
  width: 100%;
}










